<section id="" class="card">
  <a href="/books/{{id}}">
    <h4>{{title}}</h4>
    <div class="card-body">
      <img src="{{img}}" alt="Book Cover"></img>
      <p>By: {{author}}</p>
    </div>
  </a>
</section>
