<section class="card">
  <a href="/books/{{id}}">
    <h4>{{book.title}}</h4>
    <div class="card-body">
      <img src="{{book.img}}" alt="Book Cover"></img>
      <p>By: {{book.author}}</p>
    </div>
  </a>
</section>
