<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book-Shelf</title>
  <link rel="stylesheet" type="text/css" href="/public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<div class="br-image">
<body>
  <header>
    <h1>Welcome to your Virtual Book-Shelf</h1>
    
  </header>
  <nav>
    <a href="/controllers/index.js">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="../login.handlebars">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Choose the book of your choice</h2>
    </aside>
    <div class="shelf">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="../../public/javascript/logout.js"></script>
  {{/if}}
</body>
</div>

</html>